@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Righteous', cursive !important;
}


#root
{
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(105,48,195,1) 0%, rgba(86,207,225,1) 98%);
}
.App
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.splash-container
{
  display: flex;
  justify-content: center;
}
.splash-container h1
{
  color: rgb(33, 37, 41);
}
.logo
{
  position: fixed;
  top: 50%;
  left: 50%;
  /* min-width: 81%;
  height: 74.7%; */
  width: 810px;
  height: 448px;
  transform: translate(-50%, -50%);
}

.btn-div
{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.button
{
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  border: none;
  width: 30%;
  min-height: 15px;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 15px rgba(33, 37, 41,0.25));
  color: rgb(33, 37, 41) !important;
  border-bottom: 4px solid rgba(33, 37, 41 , 0.75) !important;
}
.button:hover
{
  filter: drop-shadow(4px 4px 10px rgba(33, 37, 41,0.25));
  transform: translateY(-5px);
}

.text{
  text-align: center;
  color: #CED4DA;
  margin: auto;
  width: 50%;
  padding: 10px;
}
header{
  color: #CED4DA;
  text-align: center;
  background-color: #212529;
  margin: auto ;
  position: relative;
  padding: 5px 0;
  min-width: 100vw;

}


footer {
  color: #CED4DA;
  background-color: #212529;
  position: relative;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  
}