@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Righteous', cursive !important;
}

::-webkit-scrollbar { 
  width: 8px; 
} 

/* Track */ 
::-webkit-scrollbar-track { 
  background: #CED4DA; 
  border-radius: 5px; 
} 

/* Handle */ 
::-webkit-scrollbar-thumb {
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1); 
  background: #343A40; 
  border-radius: 5px; 
} 

/* Handle on hover */ 
::-webkit-scrollbar-thumb:hover { 
  background: #505963; 
}

#root
{
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(105,48,195,1) 0%, rgba(86,207,225,1) 98%);
}
.App
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
form 
{
  width: 100%;
}
.splash-container
{
  display: flex;
  justify-content: center;
}
.splash-container h1
{
  color: #343A40;
  font-weight: 700;
}
.logo
{
  position: fixed;
  top: 50%;
  left: 50%;
  /* min-width: 81%;
  height: 74.7%; */
  width: 810px;
  height: 448px;
  transform: translate(-50%, -50%);
}

.btn-div
{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.button
{
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  border: none;
  /* width: 30%; */
  min-height: 35px;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 15px rgba(33, 37, 41,0.25));
  /* color: rgb(33, 37, 41); */
  border-bottom: 4px solid rgba(33, 37, 41 , 0.75) !important;
}

span.file-count
{
  position: fixed;
  top: -40%;
  right: -10%;
  background-color: #E81224;
  width: 24px;
  border-radius: 50%;
}
.button:hover
{
  filter: drop-shadow(4px 4px 10px rgba(33, 37, 41,0.25));
  transform: translateY(-5px);
}

.text{
  text-align: center;
  color: #CED4DA;
  margin: auto;
  width: 50%;
  padding: 10px;
}
header{
  color: #CED4DA;
  text-align: center;
  background-color: #212529;
  margin: auto ;
  position: fixed;
  padding: 5px 0;
  min-width: 100vw;
  top: 0;
  left: 0;
}


footer {
  color: #CED4DA;
  background-color: #212529;
  position: fixed;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
  left: 0;
}

header h1 , footer h1
{
  font-size: 1.5rem;
}

footer h1
{
  word-spacing: 4px;
}

span.name
{
  color: #48BFE3;
}
code
{
  white-space: pre-wrap;
}
.code-block
{
  max-height: 100px;
  overflow-y: auto;
}
.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: #CED4DA;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 #CED4DA,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 #CED4DA,
      .5em 0 0 #CED4DA;}}

.input-div
{
  display: flex;
  justify-content: center;
  align-items: center;
}
input[name = "install"]
{
  background-color: #E9ECEF;
  border: none;
  padding: 5px 5px;
  width: 60%;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 15px rgba(33, 37, 41,0.25));
  outline: none;
}

.file-card
{
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #212529;
  color: #CED4DA;
  filter: drop-shadow(0px 4px 15px rgba(33, 37, 41,0.25));
  min-height: 60vh;
  min-width: 30vw;
  padding: 5px 5px;
  border-radius: 10px;
}

.file-card h1
{
  border-bottom: 3px solid #E9ECEF;
  margin-bottom: 20px;
  padding: 10px 0px;
}

.file-content
{
  padding: 1rem 1rem;
  white-space: nowrap;
}
input[name = "commit"]
{
  margin-bottom: 10px;
  width: 100%;
}

hr
{
  min-width: 100%;
  min-height: 2px;
  background-color: #E9ECEF;
}
.file-btn
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100% !important;
  flex-grow: 1;
  padding-bottom: 0.5rem;
}
.commit-btn,.reject-btn
{
  display: flex;
  flex-direction: row;
}
.commit-btn
{
  justify-content: flex-start;
}
.reject-btn
{
  justify-content: flex-end;
}

.carousel-control-prev,.carousel-control-next
{
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  margin: auto;
  background-color: #343A40;
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
  transform-origin: center;
  transform: rotateZ(0deg);
}